/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
/Modules/Blog/node_modules/
/public/images/
/resources/js/img/
/public/scripts/
/public/vendor/
/public/js/
/public/css/
