.admin-app{

    .nav-link {
        padding-right: 0 !important;
    }

    .router-link-active .nav-link-content {
        background: white;
        border-radius: 20px 0 0 20px;
        color: #000000;
    }

    .hamburger-wrapper {
        font-size: 20px;
        background-color: #222222;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 18px;
        z-index: 11;
        margin-left: 16px;
        border-radius: 0 0 7px 7px;
    }

    #side-menu {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .main-view {
        width: calc(100% - 240px);
        margin-left: 240px;
    }

    @media only screen and (max-width: 767px) {
        .main-view {
            width: 100%;
            margin-left: 0;
        }
    }

}
