.genre-pill {
    background: gray;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0px 10px 20px 10px;
    text-decoration: none;
    color: #ffffff;

    &:hover {
        text-decoration: none;
        color:#ffffff;
        background: $accent;
        transform: scale(1.01);
        transition: 0.15s ease-in-out;
    }

    h5 {
        margin: 0;
    }
}
