html, body {
    height: 100%;
    position: relative;
}

html::-webkit-scrollbar {
    display: none;
}

.section {
    margin-bottom: 5rem;
}

.title {
    color: #6c757d;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.icon-btn-sm {
    width: 18px;
}

.icon-btn-md {
    width: 25px;
}

.icon-btn-lg {
    width: 2.5rem;
}

.icon-btn-xl {
    width: 3rem;
}

.thumb-sm {
    object-fit: cover;
    width: 50px !important;
    height: 50px;
}

.btn-text-white {
    color: #9a9da0 !important;

    &:hover {
        color: rgb(255, 255, 255, 0.75) !important;
    }
}

.bg-laravel {
    background-color: #f8fafc !important;
}

.bg-lgs {
    background: linear-gradient(39deg, #15c0e9 0%, #f0536a 80%);
}

.h-border-violet:hover {
    border: 1px solid #91a5f4 !important;
}

.h-border-violet.active {
    border: 1px solid #15c0e9 !important;
}

.bg-violet-gradient {
    background: linear-gradient(39deg, #91a5f4 0%, #b08cf9 80%);
}

.bg-violet-gradient {
    background: linear-gradient(39deg, #91a5f4 0%, #b08cf9 80%);
}

.object-fit-contain {
    object-fit: contain;
}

.object-fit-cover {
    object-fit: cover;
}

.text-light-grey {
    color: #b8babc;
}

.h-overlay-container {
    position: relative;
}

.h-cursor:hover {
    cursor: pointer;
}

.h-text-white:hover {
    color: #ffffff !important;
}

.h-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.h-overlay-container:hover .h-overlay {
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}

/*
 * Container style
 */
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
    display: none;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    height: 15px;
    /* there must be 'bottom' or 'top' for ps__rail-x */
    bottom: 0px;
    /* please don't change 'position' */
    position: absolute;
}

.ps__rail-y {
    display: none;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    width: 15px;
    /* there must be 'right' or 'left' for ps__rail-y */
    right: 0;
    /* please don't change 'position' */
    position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
    display: block;
    background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
    opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
    background-color: #eee;
    opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear, height .2s ease-in-out;
    -webkit-transition: background-color .2s linear, height .2s ease-in-out;
    height: 6px;
    /* there must be 'bottom' for ps__thumb-x */
    bottom: 2px;
    /* please don't change 'position' */
    position: absolute;
}

.ps__thumb-y {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear, width .2s ease-in-out;
    -webkit-transition: background-color .2s linear, width .2s ease-in-out;
    width: 6px;
    /* there must be 'right' for ps__thumb-y */
    right: 2px;
    /* please don't change 'position' */
    position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: #999;
    height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: #999;
    width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
    .ps {
        overflow: auto !important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}
