@import "mixins";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Russo+one');

html, body {
    height: 100%;
    position: relative;
    background-color: $dark !important;
}

//html::-webkit-scrollbar {
//    display: none;
//}

pre {
    white-space: pre-wrap;
}

//.section {
//    margin-bottom: 5rem;
//}

//.title {
//    color: #6c757d;
//    font-size: 1.4rem;
//    margin-bottom: 2rem;
//}

.text-no-wrap {
    white-space: nowrap
}

.thumb-sm {
    object-fit: cover;
    width: 50px !important;
    height: 50px;
}

.text-secondary{
    color:$fc-secondary!important;
}

//buttons
.btn-text-white {
    color: #9a9da0 !important;

    &:hover {
        color: rgb(255, 255, 255, 0.75) !important;
    }
}

.transparent-btn {
    @include transparent-btn;
}

.icon-btn-sm {
    width: 18px;
}

.icon-btn-md {
    width: 25px;
}

.icon-btn-lg {
    width: 2.5rem;
}

.icon-btn-xl {
    width: 3rem;
}

//end buttons

.bg-laravel {
    background-color: #f8fafc !important;
}

.bg-lgs {
    background: linear-gradient(39deg, #15c0e9 0%, #f0536a 80%);
}

.h-border-violet {
    //border: 2px solid transparent !important;

    &:hover {
        //border: 2px solid #91a5f4 !important;
        box-shadow: 0 0 6px 3px rgb(3, 244, 244);
        //transform: scale(1.01);
    }

    &.active {
        box-shadow: 0 0 6px 3px #e91581;
        //border: 2px solid #15c0e9 !important;
    }
}

.bg-violet-gradient {
    background: linear-gradient(39deg, #91a5f4 0%, #b08cf9 80%);
}

.bg-violet-gradient {
    background: linear-gradient(39deg, #91a5f4 0%, #b08cf9 80%);
}

.object-fit-contain {
    object-fit: contain;
}

.object-fit-cover {
    object-fit: cover;
}

.text-light-grey {
    color: #b8babc;
}

.text-violet {
    color: #7d6ee4 !important;
}

.h-overlay-container {
    position: relative;
}

.h-cursor:hover {
    cursor: pointer;
}

.h-text-white:hover {
    color: #ffffff !important;
}

.page-header {
    margin: 3rem 0 2rem 0;
    color: #ffffff;
    //font-family: 'Russo one';

    h1 {
        @extend .typography-header-emphasized;
        font-size: 40px !important;
    }
}

//Titles
.typography-header-emphasized {
    font-size: 34px;
    line-height: 1.17649;
    font-weight: 700;
    letter-spacing: .005em;
}

.typography-title-emphasized {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: .007em;
}

.typography-title {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .007em;
}

.typography-footnote-emphasized {
    font-size: 12px;
    line-height: 1.18182;
    font-weight: 500;
    letter-spacing: .006em;
}

//border
.link-border {
    border: 1px solid white;
    border-radius: 14px;
}

.rounded-20 {
    border-radius: 20px !important;
}

.divider-bottom {
    border-color: hsla(0, 0%, 100%, .05);
    border-bottom: 1px solid;
}

//end border

.badge-dark {
    background-color: #000000 !important;
}

.h-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.h-overlay-container:hover .h-overlay {
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}

//links
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;

    &:hover {
        color: $accent;
        text-decoration: none;
    }
}


/*
 * Article Styles
 */

.article {

}

.article h2 {
    color: white;
    margin-bottom: 2rem
}

.article-body p {
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 1.5rem;
}

///*
// * Container style
// */
//.ps {
//    overflow: hidden !important;
//    overflow-anchor: none;
//    -ms-overflow-style: none;
//    touch-action: auto;
//    -ms-touch-action: auto;
//}
//
///*
// * Scrollbar rail styles
// */
//.ps__rail-x {
//    display: none;
//    opacity: 0;
//    transition: background-color .2s linear, opacity .2s linear;
//    -webkit-transition: background-color .2s linear, opacity .2s linear;
//    height: 15px;
//    /* there must be 'bottom' or 'top' for ps__rail-x */
//    bottom: 0px;
//    /* please don't change 'position' */
//    position: absolute;
//}
//
//.ps__rail-y {
//    display: none;
//    opacity: 0;
//    transition: background-color .2s linear, opacity .2s linear;
//    -webkit-transition: background-color .2s linear, opacity .2s linear;
//    width: 15px;
//    /* there must be 'right' or 'left' for ps__rail-y */
//    right: 0;
//    /* please don't change 'position' */
//    position: absolute;
//}
//
//@media (max-width: 800px) {
//    .ps--active-x > .ps__rail-x,
//    .ps--active-y > .ps__rail-y {
//        display: none;
//        background-color: transparent;
//    }
//}
//
//@media (min-width: 800px) {
//    .ps--active-x > .ps__rail-x,
//    .ps--active-y > .ps__rail-y {
//        display: block;
//        background-color: transparent;
//    }
//}
//
//
//.ps:hover > .ps__rail-x,
//.ps:hover > .ps__rail-y,
//.ps--focus > .ps__rail-x,
//.ps--focus > .ps__rail-y,
//.ps--scrolling-x > .ps__rail-x,
//.ps--scrolling-y > .ps__rail-y {
//    opacity: 0.6;
//}
//
//.ps .ps__rail-x:hover,
//.ps .ps__rail-y:hover,
//.ps .ps__rail-x:focus,
//.ps .ps__rail-y:focus,
//.ps .ps__rail-x.ps--clicking,
//.ps .ps__rail-y.ps--clicking {
//    background-color: #eee;
//    opacity: 0.9;
//}
//
///*
// * Scrollbar thumb styles
// */
//.ps__thumb-x {
//    background-color: #aaa;
//    border-radius: 6px;
//    transition: background-color .2s linear, height .2s ease-in-out;
//    -webkit-transition: background-color .2s linear, height .2s ease-in-out;
//    height: 6px;
//    /* there must be 'bottom' for ps__thumb-x */
//    bottom: 2px;
//    /* please don't change 'position' */
//    position: absolute;
//}
//
//.ps__thumb-y {
//    background-color: #aaa;
//    border-radius: 6px;
//    transition: background-color .2s linear, width .2s ease-in-out;
//    -webkit-transition: background-color .2s linear, width .2s ease-in-out;
//    width: 6px;
//    /* there must be 'right' for ps__thumb-y */
//    right: 2px;
//    /* please don't change 'position' */
//    position: absolute;
//}
//
//.ps__rail-x:hover > .ps__thumb-x,
//.ps__rail-x:focus > .ps__thumb-x,
//.ps__rail-x.ps--clicking .ps__thumb-x {
//    background-color: #999;
//    height: 11px;
//}
//
//.ps__rail-y:hover > .ps__thumb-y,
//.ps__rail-y:focus > .ps__thumb-y,
//.ps__rail-y.ps--clicking .ps__thumb-y {
//    background-color: #999;
//    width: 11px;
//}
//
///* MS supports */
//@supports (-ms-overflow-style: none) {
//    .ps {
//        overflow: auto !important;
//    }
//}
//
//@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
//    .ps {
//        overflow: auto !important;
//    }
//}

/*СПИННЕР (ГЛАВНЫЙ)==========================*/
#tMainSpinner {
    position: fixed;
    display: flex;
    margin-left: -15px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transition: .3s;
    background: rgba(89, 109, 212, 0.2);
    box-sizing: content-box;

    .spinner {
        //margin: 0 12.5% 100px;
        width: 100px;
        height: 100px;
        border: 2px solid $violet;
        border-radius: 50%;
        animation: spin 0.75s infinite linear;
        display: inline-block;
        border-color: transparent;
        border-top-color: #0cf;
        animation-duration: 1.2s;

        &:before,
        &:after {
            left: -2px;
            top: -2px;
            position: absolute;
            content: '';
            width: inherit;
            height: inherit;
            border: inherit;
            border-radius: inherit;
            display: inline-block;
            border-color: transparent;
            border-top-color: #0cf;
            animation-duration: 1.2s;
        }

        &:before {
            transform: rotate(120deg);
        }

        &:after {
            transform: rotate(240deg);
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*==========================================*/

.social-icons {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
        padding-left: 0;
        display: inline-block;
    }

    a {
        background: #ffffff;
        padding: 10px;
        -webkit-transition: none;
        transition: none;
        border-radius: 30px;
        display: inline-block;

        &:hover {
            color: #1ED760;
            text-decoration: none;
            outline: 0;
        }

        &:hover, &:focus {
            color: #1ED760;
            text-decoration: none;

            .social-icon {
                filter: invert(22%) sepia(97%) saturate(2119%) hue-rotate(123deg) brightness(96%) contrast(96%);
            }
        }
    }

    .social-icon {
        width: 16px;
        height: 16px;
        -webkit-transition: fill 0.2s;
        transition: fill 0.2s;
        display: block;
        fill: #222326;

        &:hover {
            filter: invert(22%) sepia(97%) saturate(2119%) hue-rotate(123deg) brightness(96%) contrast(96%);
        }
    }
}


//Playable for album and song cards. Show play btn on hover
.playable-card {
    color: #ffffff;

    .playable-cover-wrapper {

        position: relative;

        .playable-cover {
            object-fit: cover;
            width: 100% !important;
            height: 100% !important;
            border-radius: 0.25rem;
        }

        &:hover {
            cursor: pointer;

            &::before {
                position: absolute;
                content: '';
                background-color: rgba(70, 68, 68, 0.6);
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                border-radius: 0.25rem;
            }

            &::after {
                position: absolute;
                content: '';
                background: url("/icons/svg/play-btn-light.svg") no-repeat center;
                background-size: contain;
                top: calc(50% - 35px);
                bottom: calc(50% - 35px);
                right: calc(50% - 35px);
                left: calc(50% - 35px);
            }
        }

        .playable-info {

        }
    }
}
